@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 5.9%;
    --foreground: 0 100% 100%;

    --surface: 0 0% 16%;
    --surface-foreground: 210 40% 98%;

    --card: 0 0% 23%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 86 100% 72%;
    --primary-foreground: 150 33% 1%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 0, 0%, 61%;

    --accent: 86, 100%, 72%, 0.2;
    --accent-foreground: 210 40% 98%;

    --destructive: 21 90% 48%;
    --destructive-foreground: 21 90% 48%;

    --chart-1: 86, 100%, 72%, 0.6;
    --chart-2: 29 97% 57%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --border: 0 0% 19%;
    --input: 0 0% 38%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 5.9%;
    --foreground: 0 100% 100%;

    --surface: 0 0% 16%;
    --surface-foreground: 210 40% 98%;

    --surfaceVariant: 0 0% 18%;
    --surfaceVariant-foreground: 210 40% 98%;

    --card: 0 0% 23%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 86 100% 72%;
    --primary-foreground: 150 33% 1%;

    --secondary: 86 100% 20%;
    --secondary-foreground: 210 40% 98%;

    --muted: 0 0% 23%;
    --muted-foreground: 0, 0%, 61%;

    --accent: 86, 20%, 28%;
    --accent-foreground: 210 40% 98%;

    --destructive: 21 90% 48%;
    --destructive-foreground: 21 90% 48%;

    --chart-1: 86, 100%, 72%, 0.6;
    --chart-2: 29 97% 57%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --border: 0 0% 19%;
    --input: 0 0% 38%;
    --ring: 0 0% 38%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
